<header class="home-body text-center text-white py-4">
  <div class="home-content my-5">
    <figure class="mx-auto">
      <img
        src="./assets/images/profileImg.jpg"
        style="width: 300px; height: 300px; border-radius: 50%"
        alt="profile img"
      />
    </figure>
    <div class="header">
      <h1 class="fw-bolder mt-3">START FRAMEWORK</h1>
      <div class="caption">
        <div></div>
        <i class="fas fa-star mx-3"></i>
        <div></div>
      </div>
    </div>
    <p class="mb-0">
      Graphic Artist - Web Designer - Illustrator - FrontEnd Developer
    </p>
  </div>
</header>
